/* mapa.component.css */
:host ::ng-deep .leaflet-pane {
  z-index: 1;
}

:host ::ng-deep .leaflet-popup-content-wrapper {
  border-radius: 0.5rem;
}

:host ::ng-deep .leaflet-popup-content {
  margin: 0;
}

#volunteer-map {
  cursor: grab;
}

#volunteer-map:active {
  cursor: grabbing;
}

/* Asegurar que el mapa sea interactivo */
:host ::ng-deep .leaflet-container {
  cursor: grab;
}

:host ::ng-deep .leaflet-container:active {
  cursor: grabbing;
}

